.centerContent {
    font-family: sans-serif;
    text-align: center;
}

html { 
    background: url(../images/koi.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

img {
    width:400px;
    opacity: 1.0;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
}

.middle {
    
    width:53%;
    height:650px;
    background-color :darkslategray;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    padding: 10px 20px 10px 20px;
    color: whitesmoke;
    overflow: auto;
    text-align: center;
    float: left;
    }

h1 {
    font-size: 40px;
    margin: 20px;
}

h2 {
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    margin: 20px;
}

.left {
    margin: 12% 2% 2% 2%;
    width:15%;
    height:240px;
    float: left;
    background-color: darkslategray;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    padding: 100px 20px 0px 20px;
    color: whitesmoke;
    
}

.right {
    margin: 12% 2% 2% 2%;
    width:15%;
    height:240px;
    float: left;
    background-color: darkslategray;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    padding: 100px 20px 0px 20px;
    color: whitesmoke;
    top: 50%;
}




a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #EC9127;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    text-decoration: none;
}

a:active {
    color: red;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000; 
    text-decoration: underline;
}

#moi {
    width: 350px;
    border-radius: 50%;
    margin: 5%;
  }

p {
    margin: 5% 15% 0% 15%;
}