.centerContent {
    font-family: sans-serif;
    text-align: center;
}

html { 
    background: url(../images/koi.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

img {
    width:400px;
    opacity: 1.0;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
}

.middle {
    width:600px;
    height:600px;
    background-color :#708090;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    padding: 10px 20px 10px 20px;
    color: whitesmoke;
    overflow: auto;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
}

.left {
    
    width:200px;
    height:200px;
    float: left;
    background-color: slategray;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    padding: 10px 20px 10px 20px;
    color: whitesmoke;

}

.right {
    width:200px;
    height:200px;
    float: right;
    background-color: slategray;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    padding: 10px 20px 10px 20px;
    color: whitesmoke;

}




a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #EC9127;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    text-decoration: none;
}

a:active {
    color: red;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000; 
    text-decoration: underline;
}

#moi {
    width: 350px;
    border-radius: 50%;
  }